<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 혹시 설명 이해 안되면 워드파일 갔다오기 (header.html 파일에 적어놓은 설명 잘 모르겠으면 여기) 라는 이름으로 되어있음

    부트스트랩에 가서 메뉴바의 Examples > Snippets 영역의 Headers 들어가보면 검정색 배경인거 있다. 개발자도구 열어서 해당 부분 코드 다 복사해오자.

    리컴파일 (Ctrl + Shift + F9)
-->

    <header class="p-3 text-bg-dark" id="header">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>

                    <!-- 원래 있던 메뉴는 일단 필요 없으니 지우자. -->
                    <!--<li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
                </ul>

                <!-- 검색 따로 만들거니까 일단 필요 없으니 지우자. -->
                <!--<form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
                </form>-->

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>
            </div>
        </div>
    </header>

<!-- 다 하면 templates  >  Ex10_3_footer.html 가서 부트스트랩꺼 가져다 쓰기-->

</body>
</html>