<!-- 할일: 부트스트랩을 이용해서 index 페이지 레이아웃 구성하기

  1) 홈페이지에서 CDN 방식으로 css, js 가져오기
  2) 현재 index.html 에 있는 게시판 리스트 영역(main 의 table 태그 있는 부분)을 디자인 할건데 부트스트랩에서 제공하는 css 를 적용해볼거다.
    부트스트랩 홈페이지의 메뉴바에서 Docs 선택 > 왼쪽 스크롤 탭 영역에서 Content > Tables 눌러보면 아래 이미지 화면 나온다.
    클래스만 복사해서 우리 코드에 넣고
  3) 리컴파일 (Ctrl + Shift + F9)
  4) 실행해보기
 -->


<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="자바스프링 게시판">
  <meta name="author" content="bitstudy">

  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


  <!-- 외부파일은 서버를 실행시킨 다음에 적용시킬수 있다. 무조건 서버 실행하고 브라우저 확인해보자  -->
  <link rel="stylesheet"  href="/css/search_bar.css">

</head>
<body>

<header id="header"></header>

<!-- /* 부트스트랩은 맨 바깥쪽 본분에는 container 클래스 달아줘야한다. */ -->
<main class="container">
  <!--  원래 있던건 삭제 -->
  <!--  <form action="#">
      <label for="search-type" hidden>유형</label>
      <select id="search-type">
        <option value="">제목</option>
        <option value="">본문</option>
        <option value="">id</option>
        <option value="">닉네임</option>
        <option value="">해시태그</option>
      </select>

      <label for="search-value" hidden>검색어</label>
      <input type="search" placeholder="검색어를 입력하세요" name="search-value" id="search-value">
      <button type="submit">검색</button>
    </form>
  -->

  <!--  검색 영역 bootbey 에서 가져오기 (css 는 외부파일로 resources > static 폴더 안에 css 폴더 만들어서 외부css파일 생성하기)-->
  <div class="row">
    <div class="col-lg-12 card-margin">
      <div class="card search-form">
        <div class="card-body p-0">
          <form id="search-form">
            <div class="row">
              <div class="col-12">
                <div class="row no-gutters">
                  <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="">제목</option>
                      <option value="">본문</option>
                      <option value="">id</option>
                      <option value="">닉네임</option>
                      <option value="">해시태그</option>
                    </select>
                  </div>
                  <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                    <input type="text" placeholder="Search..." class="form-control" id="search" name="search">
                  </div>
                  <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button type="submit" class="btn btn-base">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>





  <table class="table">
    <thead>
    <tr>
      <th class="col-6">제목</th> <!-- col 쓰면 어떻게 되는지 설명 필요. 부트스트랩 > Docs > (사이드메뉴)Layout > Grid 에 있음 -->
      <th class="col-2">해시태그</th>
      <th class="col-2">작성자</th>
      <th class="col-2">작성일</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1번글</td>
      <td>#java</td>
      <td>bitstudy</td>
      <td>2022-12-22</td>
    </tr>
    <tr>
      <td>2번글</td>
      <td>#spring</td>
      <td>bitstudy</td>
      <td>2022-12-22</td>
    </tr>
    <tr>
      <td>3번글</td>
      <td>#mysql</td>
      <td>bitstudy</td>
      <td>2022-12-22</td>
    </tr>
    </tbody>

  </table>

  <!--  페이지네이션 달기 -->
  <!--  원래꺼 삭제-->
  <!--  <nav>
      <table>
        <tbody>
          <tr>
            <td>prev</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>next</td>
          </tr>
        </tbody>
      </table>
    </nav>-->
  <nav class="d-flex justify-content-center">
    <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
      <li class="page-item">
        <a class="page-link no-border" href="#">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">4</a></li>
      <li class="page-item">
        <a class="page-link no-border" href="#">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

</main>

<footer id="footer"></footer>

<!-- 다 하면 templates  >  Ex10_2_header.html 가서 부트스트랩꺼 가져다 쓰기-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>