<!DOCTYPE html>
<html lang="ko">


<!-- 아직 본문은 안건드릴거고 헤더랑 푸터만 해볼건데, 사실 이 페이지 실행시켜보면 ( http://localhost:8080/articles/1 )  header 부분이랑 footer 부분이 이미 부트스트랩꺼가 적용되고 있다.
 단지 css랑 js 들이 적용이 안되고 있을뿐이다. -->

<!-- main 부분은 부트스트랩 홈페이지 Examples > Custom Conpoments 섹션 > Checkout 꺼 쓸거임
  원래는 결제하는 페이지인데 (왼쪽) Billing address 영역에 게시글 입력하고, (오른쪽)에 부가 정보 입력하게 만들면 얼추 될것같다. -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="자바스프링 게시판">
  <meta name="author" content="bitstudy">

  <title>게시글 페이지</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <!-- 서치바는 여기서는 등장 안하니까 이건 가져올 필요 없다.  -->
  <!--<link rel="stylesheet" href="/css/search_bar.css">-->

</head>


<body>

<header id="header"></header>

<main id="article-main" class="container"> <!-- 부트스트랩 쓸거니까 제일 바깥쪽에 container 클래스 넣기 -->

  <!-- 맨 위에꺼 가져와서 원래꺼처럼 약간 수정함 -->
  <header class="py-5 text-center">
    <h2>첫번째 글</h2>
  </header>



  <div class="row g-5"> <!-- row 라는 클래스는 tr 같이 쓸 수 있는 부트스트랩 클래스-->
    <div class="col-md-5 col-lg-4 order-md-last">
      <aside>
        <p><span id="nickname">goodjob0412</span></p>
        <p><a id="email" href="mailto:goodjob0412@gmail.com">goodjob0412@mail.com</a></p>
        <p><time id="created-at" datetime="2022-01-01T00:00:00">2022-01-01</time></p>
        <p><span id="hashtag" class="badge text-bg-secondary mx-1"><a class="text-reset">#java</a></span></p>
      </aside>
    </div>

    <div class="col-md-7 col-lg-8">
      <p>본문</p>
      <br /><br />
    </div>
  </div>



  <!-- 이부분은 응용임
   다음줄 (row) 에 원래 가지고 있던 form 삽입할거임 -->
  <div class="row g-5">
    <section>
      <form class="row g-3">
        <div class="col-8">
          <label for="comment-textbox" hidden>댓글</label>
          <textarea class="form-control comment-textbox" id="comment-textbox" placeholder="댓글 쓰기.." rows="3" required></textarea>
        </div>

        <div class="col-auto">
          <label for="comment-submit" hidden>댓글 쓰기</label>
          <button type="submit" class="btn btn-primary" id="comment-submit">쓰기</button>
        </div>
      </form>

      <ul>
        <li>
          <div>
            <strong>bitstudy</strong>
            <time><small>2022-01-01</small></time>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </li>
        <li>
          <div>
            <strong>bitstudy</strong>
            <time><small>2022-01-01</small></time>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
              Lorem ipsum dolor sit amet
            </p>
          </div>
        </li>
      </ul>
    </section>
  </div>

<!--  네비게이션 바 -->
<!--
  <nav id="pagination" aria-label="Page navigation">
    <a href="#">이전</a>
    <a href="#">다음</a>
  </nav>
-->
  <nav class="d-flex justify-content-center"  id="pagination" >
    <ul class="pagination pagination-base pagination-boxed pagination-square mb-0">
      <li class="page-item">
        <a class="page-link no-border" href="#">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Prev</span>
        </a>
      </li>

      <!-- 여기선 '이전' 다음' 버튼만 나오게 할거라서 이부분은 없애기-->
      <!--<li class="page-item active"><a class="page-link no-border" href="#">1</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">2</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">3</a></li>
      <li class="page-item"><a class="page-link no-border" href="#">4</a></li>-->
      <li class="page-item">
        <a class="page-link no-border" href="#">
          <span aria-hidden="true">»</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- 다 했으면  http://localhost:8080/articles/1  가서 확인해보기
   워드파일로 돌아가기. 깃크라켄으로 올릴거임.-->
  <!-- 다 했으면  http://localhost:8080/articles/1  가서 확인해보기
   워드파일로 돌아가기. 깃크라켄으로 올릴거임.-->
  <!-- 다 했으면  http://localhost:8080/articles/1  가서 확인해보기
   워드파일로 돌아가기. 깃크라켄으로 올릴거임.-->

</main>


<footer id="footer"></footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>


</body>
</html>
